link(href='../bootstrap/css/bootstrap.min.css', rel='stylesheet')
link(href='../css/common.css', rel='stylesheet')
script(src='../bootstrap/js/jquery-1.12.0.min.js')
script(src='../bootstrap/js/bootstrap.min.js')